[default]
  listenip        = 127.0.0.2
  listenport      = 8000
  logfile         = /var/log/chef-guard.log
  tempdir         = /var/tmp/chef-guard
  mode            = silent        # Valid options are 'silent', 'permissive' and 'enforced'
  maildomain      = company.com
  mailserver      = smtp.company.com
  mailport        = 25
  mailsendby      =               # Leave blank to dynamically use the mailaddress of the user making the API call (preferred)
  mailrecipient   = chef-changes@company.com
  validatechanges = silent        # Valid options are 'silent', 'permissive' and 'enforced'
  commitchanges   = false
  mailchanges     = true
  searchgit       = true
  publishcookbook = true
  blacklist       =               # This can be multiple regexes divided by a ','
  gitorganization = chef-guard
  gitcookbookorgs = org1, org2    # When using multiple orgs (divided by a ','), the order here determines the lookup order!
  includefcs      =               # This should be the full path to a custom .rb file containing your custom checks
  excludefcs      =               # This can be multiple FC's divided by a ','

[chef]
  type            = enterprise    # Valid options are 'enterprise', 'opensource' and 'goiardi'
  version         = 11
  server          = chef.company.com
  port            = 443
  sslnoverify     = false
  erchefip        = 127.0.0.1
  erchefport      = 8000
  bookshelfkey    = xxx
  bookshelfsecret = xxx
  user            = chef-guard
  key             = /opt/chef-guard/chef-guard.pem

[chefclients]
  path            = /opt/chef-guard/clients

[community]
  supermarket     = https://supermarket.getchef.com
  forks           = org1     # When using multiple orgs (divided by a ','), the order here determines the lookup order!

[supermarket]
  server          = supermarket.company.com
  port            = 443
  sslnoverify     = false
  user            = chef-guard
  key             = /opt/chef-guard/chef-guard.pem

[tests]
  foodcritic      = /opt/chef/embedded/bin/foodcritic
  rubocop         = /opt/chef/embedded/bin/rubocop

[git "chef-guard"]
  type            = github   # Valid options are 'github' and 'gitlab'
  serverurl       =          # Empty means that it will use github.com
  sslnoverify     = false
  token           = xxx

[git "demo2"]
  type            = github   # Valid options are 'github' and 'gitlab'
  serverurl       = https://github.company.com
  sslnoverify     = false
  token           = xxx

[customer "demo1"]
  commitchanges   = true
  mailchanges     = false
  mode            = enforced

[customer "demo2"]
  mode            = enforced
  gitcookbookorgs = demo2    # If customer org(s) are used in conjunction with default org(s), the default orgs are searched first!
